:root {
    --main-color: #f16718;
    --main-color-lighter: #ff9b62;
    --main-text-color: #162542;
    --main-text-color-lighter: #7b8bad;
    --main-text-color-lightest: #e8eff2;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 900;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
    color: var(--main-text-color-lighter);
}

.caps {
    text-transform: uppercase;
}

p > em {
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}

@media (width > 50em) {
    h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1.125rem;
    }
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
input,
select,
textarea {
    background-color: transparent;
    outline: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}
body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    font-family: 'Barlow', sans-serif;
    padding-block: 24px;
    color: var(--main-text-color);
}

@media (width > 28.125em) {
    body {
        padding-block: 40px;
    }
}

@media (width > 50em) {
    body {
        padding-block: 55px;
    }
}

.btn {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.625;
    /* 26px/16px = 1.625 */
    text-transform: uppercase;
    padding: 16px 26px;
    border-radius: 8px;
}

.btn.btn-header {
    background-color: var(--main-text-color-lightest);
    color: var(--main-text-color);
    transition: all ease-out 0.1s;
}

.btn.btn-hero {
    background-color: var(--main-color);
    transition: all ease-out 0.1s;
    color: white;
}

.btn.btn-header:hover {
    color: var(--main-text-color-lightest);
    background-color: var(--main-text-color);
}

.btn.btn-hero:hover {
    color: var(--main-text-color-lightest);
    background-color: var(--main-color-lighter);
}

.grid-main {
    display: grid;
    grid-template-columns: 1fr min(100% - 48px, 69.375rem) 1fr;
    /* 1110/16 = 69.375 */
}

@media (width > 28.125em) {
    .grid-main {
        grid-template-columns: 1fr min(100% - 80px, 69.375rem) 1fr;
    }
}

.grid-content {
    grid-column: 2/3;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 50px 0;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 100px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 1.25;
}

.hero-text-bottom {
    display: flex;
    gap: 20px;
    align-items: center;
}

.hero-image img {
    height: 100%;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    object-fit: cover;
}
